body{
    background-size: cover;
    background-repeat: no-repeat;
}

canvas{
    border: 2px solid black;
    margin-top: 20px;
    width: 900px;
    height: 600px;
}

h3{
    font-size: 18px;
}

.heading{
    width: 100%;
    padding: 5px;
    font-size: 30px;
}

a{
    font-size: 20px;
    position: relative;
    left: 450px;
}